.bg-join1-mob {
  background-image: url('@/assets/images/join1-mob.jpg');
}
.bg-tdesign--view-list {
  background-image: url('@/assets/images/tdesign--view-list.png');
}
.bg-fot-tk {
  background-image: url('@/assets/images/fot-tk.png');
}
.bg-fot-ai {
  background-image: url('@/assets/images/fot-ai.png');
}
.bg-ai-pf {
  background-image: url('@/assets/images/ai-pf.png');
}
.bg-ai-his {
  background-image: url('@/assets/images/ai-his.png');
}
.bg-fot-m {
  background-image: url('@/assets/images/fot-m.png');
}
.bg-fot-tk-avt {
  background-image: url('@/assets/images/fot-tk-avt.png');
}
.bg-ai-pf-avt {
  background-image: url('@/assets/images/ai-pf-avt.png');
}
.bg-ai-his-avt {
  background-image: url('@/assets/images/ai-his-avt.png');
}
.bg-pia-tk {
  background-image: url('@/assets/images/pia-tk.png');
}
.bg-pia-data {
  background-image: url('@/assets/images/pia-data.png');
}
.bg-pia-ste {
  background-image: url('@/assets/images/pia-ste.png');
}
.bg-pia-lgt {
  background-image: url('@/assets/images/pia-lgt.png');
}
.bg-pia-up-pl {
  background-image: url('@/assets/images/pia-up-pl.png');
}
.bg-pia-data {
  background-image: url('@/assets/images/pia-data.png');
}